body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;

  }
  
  nav {
    font-size: larger;
    font-weight: bolder;
    overflow: hidden;

  }
  
  .s2, .s3 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .s2, .s3 .video-container {
    height: 400px;
    padding: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1;
    flex-shrink: none;
  }
  
  .s2, .s3 .video-container video {
    height: 300px;
    width: auto; 
  }
  
  
  .s2, .s3  .description {
    padding: 24px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .s2 p, .s2 li{
    font-size: 1.3rem;
    color: #333;
  }
  .s3{
    padding: 20px;
  }
  .s3 p, li{
    font-size: 1.3rem;
  }

.gallery{
  .container{
    width: 100%;
    display: flex;
    padding: 0 20px;
  }
  .slide{
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
  }
  .slide h3{
    margin: 0;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
  }
  
  .active{
    flex: 10;
  }
  .active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
}

#contact{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('image/footer.jpg');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#contact{
  section {
    position: relative;
    /* z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px; */
  }
  
  /* .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  } */
  
  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .section-header p {
    color: #FFF;
  }
  
  .row  {
    display: flex;
    /* flwx-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 50%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 20px;
  }
  
  .contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: #FFF;
    font-size: 1em;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color: #00bcd4;
  }
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }
}